<!-- Disclaimer -->
<div class="page-alternate">
	<div class="container">
    	<div class="row">
                <!-- Start Tooltip -->
                <div class="span12">
                    <p class="div--center">
                        <a class="button button-small" href="{{ craft.entries.section('disclaimer').first().getUrl() }}">Disclaimer</a>
                        <a class="button button-small" href="{{ craft.entries.section('privacy').first().getUrl() }}">Privacybeleid</a>
                        <a class="button button-small" href="{{ craft.entries.section('voorwaarden').first().getUrl() }}">Algemene Voorwaarden</a>
                    </p>
                </div>
                <!-- End Tootlip -->
        </div>
    </div>
</div>
<!-- End Disclaimer -->