<div class="block">
	{% if block.blockTitle|length %}
		<h2>{{ block.blockTitle }}</h2>
	{% endif %}
	<div class="grid">
		<div class="row">
			<div class="col-6">
				{{ block.text }}
			</div>
			<div class="col-6">
				{{ block.textSecondColumn }}
			</div>
		</div>
	</div>
</div>