<div class="block">
	<div class="grid">
		<div class="row">
			{{ dump(block.video) }}
			{# {% for item in block.video %}
				{% if video|length %}
					<div class="col-lg-4">
						{{ craft.embedder.embed (item.video, {max_width:350, max_height:250}) }}
					</div>
				{% endif %}
			{% endfor %} #}
		</div>
	</div>
</div>